<div class="container py-5 my-0">
  <div class="row justify-content-center">
    <div class="col-8 jumbotron">
      <h1>{{ title }}</h1>
        <div class="form-group">
          <label for="player_info">Player Info:</label>
          <input type="text" (keydown.enter)="addPlayer(newPlayerInfo.value)" class="form-control" id="player_info" placeholder="Robert, 7H, 3S, 7C, 7S, 6D" #newPlayerInfo>
        </div>
        <div class="form-group">
          <button  class="btn btn-warning" (click)="addPlayer(newPlayerInfo.value)">Add Player</button>
          <button  class="btn btn-danger ml-2" (click)="clear()">Clear</button>
        </div>
        <div class="form-group">
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Cards</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let player of players">
                  <td scope="row">{{player.name}}</td>
                  <td>{{player.cards}}</td>
                </tr>
              </tbody>
            </table>
            <form action="" method="get">
              <button (click)="getResponse()" type="button" class="btn btn-primary">Display Winner</button>
          </form>
        </div>
        <div>
            <h1>{{winnerString}}<span class="badge badge-secondary"></span>{{ response | async }}</h1>
        </div>
    </div>
  </div>
</div>