<div class="container py-5 my-0">
  <div class="row justify-content-center">

    <div class="col-8">
      <h1>{{ title }}</h1>
        <div class="form-group">
          <label for="name">Player Name:</label>
          <input type="text" class="form-control" id="name" placeholder="David" #newPlayerName>
        </div>
        <div class="form-group">
          <label for="cards">Cards</label>
          <input type="text" class="form-control" id="cards" placeholder="AS, 5H, 6S, 6D, 10S" #newPlayerCards>
        </div>
        <div class="form-group">
          <button  class="btn btn-warning" (click)="addPlayer(newPlayerName.value, newPlayerCards.value)">Add Player</button>
        </div>
        <div class="form-group">
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Cards</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let player of players">
                  <td scope="row">{{player.name}}</td>
                  <td>{{player.cards}}</td>
                </tr>
              </tbody>
            </table>
            <form action="" method="get">
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
    </div>
  </div>
</div>